<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.koreait.SpringSecurityStudy.mapper.UserMapper">
    <insert id="addUser">
        INSERT INTO
            user_tb
        VALUES
            (0, #{username}, #{password}, #{email});
    </insert>
    <select id="getUserByUserId">
        SELECT
            *
        FROM
            user_tb
        WHERE
            user_id = #{userId};
    </select>
</mapper>